@import "tailwindcss";

body {
    font-family: "zed-mono", monospace;
}

:root {
    --background: 60 30% 98%;
    --foreground: 144 30% 20%;
    --card: 144 50% 97%;
    --card-foreground: 144 5% 15%;
    --popover: 144 100% 97%;
    --popover-foreground: 144 100% 10%;
    --primary: 144 43.9% 11.2%;
    --primary-foreground: 0 0% 100%;
    --secondary: 144 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 106 30% 95%;
    --muted-foreground: 144 5% 40%;
    --accent: 106 30% 90%;
    --accent-foreground: 144 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 144 5% 97%;
    --border: 144 30% 82%;
    --input: 144 30% 50%;
    --ring: 144 43.9% 11.2%;
    --radius: 0rem;
}
.dark {
    --background: 144 50% 10%;
    --foreground: 144 5% 97%;
    --card: 144 50% 10%;
    --card-foreground: 144 5% 97%;
    --popover: 144 50% 5%;
    --popover-foreground: 144 5% 97%;
    --primary: 144 43.9% 11.2%;
    --primary-foreground: 0 0% 100%;
    --secondary: 144 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 106 30% 25%;
    --muted-foreground: 144 5% 65%;
    --accent: 106 30% 25%;
    --accent-foreground: 144 5% 95%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 144 5% 97%;
    --border: 144 30% 50%;
    --input: 144 30% 50%;
    --ring: 144 43.9% 11.2%;
    --radius: 0rem;
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

@font-face {
    font-family: "Zed Mono";
    src: url("/fonts/Zed%20Mono/zed-mono-extended.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Zed Mono";
    src: url("/fonts/Zed%20Mono/zed-mono-extendeditalic.ttf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Zed Mono";
    src: url("/fonts/Zed%20Mono/zed-mono-extendedbold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Zed Mono";
    src: url("/fonts/Zed%20Mono/zed-mono-extendedbolditalic.ttf");
    font-weight: bold;
    font-style: italic;
}
